.row
  .small-12.columns
    div.home
      p Hey there! I'm 
        strong
          a(href='http://translate.google.com/translate_tts?tl=en&q=%22Fran%C3%A7ois%22' target='_blank') François
        | .

      p I'm a 
        strong freelance developer
        |  based in 
        strong Barcelona
        | .
      
      p My combo is 
        strong MEAN

      ul
        li
          strong M
          span ongoDB
        li
          a(href)
            strong E
            span xpress
        li
          a(href)
            strong A
            span ngular
        li
          a(href)
            strong N
            span odeJS
      
      p  
        a(href='/projects') Check out some of the projects
        |  I am collaborating to!

      ul
        li
          a(href='https://github.com/co2-git', target='_blank') Check me on github
        li
          hr
        li
          a(href='https://github.com/co2-git/francoisdev', target='_blank') Check the source of this web site on github