.row
  div(ng-repeat='project in projects')
    .columns.small-12.project(ng-show='projectView === project.slug || ! projectView')
      h3.project-title(ng-bind='project.name')
      
      a(href='#/projects/{{project.slug}}')
        img.preview(ng-src='/images/{{project.slug}}.png')
      
      div(ng-show='projectView === project.slug')
        a(ng-href='{{project.url}}', target='_blank').button.expand View website

        h4(ng-show='project.stack.front') Front-End

        ul
          li(ng-repeat='front in project.stack.front')
            a(href='#/skills/{{front | slugify}}', ng-bind='front')

        h4(ng-show='project.stack.back') Back-End

        ul
          li(ng-repeat='back in project.stack.back')
            a(href='#/skills/{{back | slugify}}', ng-bind='back')

        h4(ng-show='project.stack.db') Database

        ul
          li(ng-repeat='db in project.stack.db')
            a(href='#/skills/{{db | slugify}}', ng-bind='db')

        h4(ng-show='project.stack.api') API

        ul
          li(ng-repeat='api in project.stack.api')
            a(href='#/skills/{{api | slugify}}', ng-bind='api')

        a(href='#/projects', ng-click='switchView()').button.secondary.expand Go back to Projects