extends ../layouts/layout

block contentagain
  div.home
    p Hey there! I'm 
      strong François
      | . I'm a 
      strong freelance developer
      |  based in 
      strong Barcelona
      | .
    
    p My combo is 
      a(href='/skills') 
        strong MEAN
        |  (MongoDB, Express, Angular, Node)
      |  - but also a bunch of 
      a(href='/projects') other stuff
      |  !

    ul
      li
        a(href='https://github.com/co2-git', target='_blank') Check me on github