extends ../layouts/layout

block menu
  mixin menu('skills')

block content
  h3 Front end
  ul
    li
      a(href) HTML5
    li
      a(href) LESS CSS
    li
      a(href) SASS CSS
    li
      a(href) Bootstrap
    li
      a(href) Foundation
    li
      a(href) jQuery
    li
      a(href) Angular
    li
      a(href) Jade

  h3 Back End
  ul
    li
      a(href) NodeJS
    li
      a(href) Express
    li
      a(href) PM2
    li
      a(href) Bower

  h3 Database
  ul
    li
      a(href) MySQL
    li
      a(href) MongoDB
    li
      a(href) CouchDB
    li
      a(href) SQLite